/*---------------
font style
----------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

/*---------------
global style
---------------*/
/*define custome css variables*/
:root {
  --bg-black-150: #044749;
  --bg-black-151: #000000c7;
  --bg-black-152: #373838a8;
  --bg-black-153: #3435357a;

  --bg-black-155: #0e2b30;
  --bg-fav-100: #fe4365;
  --bg-fav-101: #2c0633;
  --bg-fav-102: #0992aa;
  --bg-fav-103: #0b7070;
  --bg-fav-1033: rgb(81, 255, 0);

  --bg-fav-104: rgb(231, 231, 231);

  --bg-black-900: #000000;
  --bg-black-100: #c0bfbf;
  --bg-black-50: #eff0f4;
  --bg-opacity: rgba(255, 255, 255, 0.5);
  --text-black-900: #000000;
  --text-black-750: rgb(39, 39, 39);
  --text-black-25: #fff;
  --text-black-700: rgba(255, 255, 255, 0.267);
  --text-black-600: #666666;
  --text-black-500: #b2ce36;
  --text-black-350: #aaa;
  --text-black-300: #afafaf;
  --text-black-200: #f0f0f0;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

* {
  margin: 0px;
  padding: 0px;
  top: 15px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
section {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.sq1 {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100vw;
  height: 190vh;
  background-color: var(--text-black-900);
  opacity: 0.9;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: absolute;
  height: 3.2rem;
  width: 3.3rem;
  top: 1.3rem;
  left: 8rem;
  padding-right: 5px;
  max-width: 120%;
  filter: invert(1);
  opacity: 0.6;
}

header .logoText {
  position: absolute;
  top: 34px;
  margin-left: 85px;
  margin-right: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--bg-black-100);
  font-size: 21px;
  font-weight: 900;
  justify-content: space-between;
  align-items: center;
}
header .logoText.active {
  color: var(--bg-fav-100);
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: var(--bg-black-100);
  font-weight: 600;
  margin-left: 40px;
  text-decoration: none;
}

.searchBar1 {
  position: absolute;
  top: 13%;
  left: 12%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.searchBar2 {
  position: absolute;

  top: 13%;
  right: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.searchBar1 input {
  max-width: 300px;
  outline: none;
  line-height: 1;
  width: 75rem;
  height: 2.8rem;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 400;
  color: var(--bg-black-100);
  border: 2px solid var(--bg-black-100);
  border-radius: 55px;
  background: var(--bg-black-900);
  opacity: 0.4;
}
.searchBar2 input {
  max-width: 300px;
  outline: none;
  line-height: 1;
  width: 75rem;
  height: 2.8rem;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 400;
  color: var(--bg-black-100);
  border: 2px solid var(--bg-black-100);
  border-radius: 55px;
  background: var(--bg-black-900);
  opacity: 0.4;
}
.searchBar1 input[placeholder] {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 17px;
}
.searchBar2 input[placeholder] {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 17px;
}
.searchBar1 input:hover {
  opacity: 0.6;
}
.searchBar2 input:hover {
  opacity: 0.6;
}

.quest1 ul {
  position: absolute;
  display: block;
  top: 7%;
  left: 12%;
  width: 78%;
  margin: 100px auto 0;
  border-radius: 50px;
  color: var(--bg-black-50);
  box-shadow: inset 0 0 0 var(--bg-black-900);
  overflow: hidden;
  opacity: 0.5;
}

.quest1 ul li {
  display: flex;
  text-align: center;
  justify-content: space-between;

  background-color: var(--bg-black-900);
  padding: 10px 20px;
  padding-left: 90px;
  padding-right: 90px;
  font-weight: 500;
  font-size: 17px;
  margin: 5px 0;
}

.quest2 ul {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 76%;
  margin: 100px auto 0;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  color: var(--bg-black-50);
  box-shadow: inset 0 0 0 var(--bg-black-900);
  border-radius: 48px;
  overflow: hidden;
  opacity: 0.75;
}

.quest2 ul li {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: var(--bg-black-151);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 17px;
  margin: 5px 0;
  transition: 0.5s;
}

.quest2 ul li:nth-child(3n) {
  background: var(--bg-black-151);
}
.quest2 ul li:nth-child(3n + 1) {
  background: var(--bg-black-152);
}
.quest2 ul li:nth-child(3n + 2) {
  background: var(--bg-black-153);
}

.quest2 ul li:hover {
  transform: scale(0.98);
  background: rgb(0, 0, 0);
  border-radius: 50px;
}
.quest2 ul li span a {
  display: grid;
  text-decoration: none;
  grid-template-columns: repeat(7, auto);
  grid-gap: 5px;
  letter-spacing: 15px;
  padding-right: 10px;
}
.quest2 .status .item {
  padding-top: 7px;
  padding-right: 80px;
  margin-left: 70px;
  font-size: 20px;
  color: rgb(194, 194, 194);
}
.quest2 .mark .m {
  padding-top: 7px;
  padding-right: 46px;
  font-size: 22px;
  color: rgb(202, 202, 202);
}
.quest2 .mark .m:hover {
  color: var(--bg-fav-100);
}
.quest2 .level .hard {
  padding-top: 7px;
  padding-right: 85px;
  font-size: 20px;
  color: red;
}
.quest2 .level .med {
  padding-top: 7px;
  padding-right: 85px;
  font-size: 20px;
  color: rgb(255, 196, 0);
}
.quest2 .level .easy {
  padding-top: 7px;
  padding-right: 85px;
  font-size: 20px;
  color: rgb(59, 255, 59);
}
.quest2 .name a1 {
  display: none;
  /* display: flex;
  padding: 5px;
  padding-right: 60px;
  color: var(--bg-black-50);
  text-decoration: none;
  letter-spacing: 0px; */
}
.quest2 .name .tpc {
  padding-top: 7px;
  padding-right: 85px;
  color: var(--bg-black-100);
  font-size: 25px;
}
.quest2 .level a1 {
  display: none;
  /* display: flex;
  padding: 5px;
  font-weight: 600;
  padding-right: 80px;
  text-decoration: none;
  letter-spacing: 1px; */
}
.quest2 .name .tpc:hover {
  color: var(--bg-fav-1033);
}

.quest2 .link .item {
  border: 2x solid white;
  text-align: center;
  justify-content: space-between;
  color: white;
  font-size: 15px;
  padding: 5px 2px;
}
.quest2 .link div:hover {
  color: var(--bg-fav-100);
}

/*----------------------
Responsive 
----------------------*/
@media (max-width: 1025px) {
  .quest1 ul {
    top: 10%;
  }
  .quest2 ul {
    top: 15%;
  }
}
@media (max-width: 960px) {
  header ul {
    display: none;
  }
  .toggle {
    position: relative;
    top: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active {
    position: fixed;
    top: 80px;
    right: 10%;
    height: 500px;
    width: 500px;
    background: url(cross.png);
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 110;
    opacity: 0;
  }
  header ul.navigation.active {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    padding-right: 40px;
    padding-bottom: 80px;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--text-black-900);
    color: var(--bg-black-50);
    z-index: 111;
    opacity: 0.8;
  }
  header ul.navigation.active .col {
    color: var(--bg-black-100);
    font-size: 24px;
    font-weight: 800;
  }
  header ul li {
    font-size: 1.8em;
    font-weight: 600;
    margin: 5px 0;
  }
  .quest1 ul li {
    font-size: 14px;
  }
  .quest1 ul li {
    padding-left: 80px;
    padding-right: 80px;
  }
  .quest2 ul li {
    font-size: 12px;
  }

  .quest2 .name a1:hover {
    position: absolute;
    font-size: 13px;
  }
  .quest2 .link .item {
    font-size: 12px;
  }
}

@media (max-width: 860px) {
  header .logo {
    top: 1.6rem;
    left: 5.4rem;
    padding-right: 5px;
    max-width: 120%;
  }
  header .logoText {
    top: 45px;
    margin-left: 40px;
    font-size: 18px;
  }

  .searchBar1 {
    top: 13%;
    left: 12%;
  }
  .searchBar2 {
    top: 13%;
    right: 10%;
  }
  .searchBar1 input {
    max-width: 200px;
  }
  .searchBar2 input {
    max-width: 200px;
  }
  .searchBar1 input[placeholder] {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .searchBar2 input[placeholder] {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .quest1 ul li {
    font-size: 12px;
  }
  .quest1 ul li {
    padding-left: 60px;
    padding-right: 60px;
  }
  .quest2 .status .item {
    padding-top: 4px;
    padding-right: 80px;
    margin-left: 40px;
    font-size: 15px;
    color: rgb(194, 194, 194);
  }
  .quest2 .mark .m {
    padding-top: 4px;
    padding-right: 6px;
    font-size: 17px;
    color: rgb(202, 202, 202);
  }
  .quest2 .level .hard {
    padding-top: 4px;
    padding-right: 85px;
    font-size: 15px;
    color: red;
  }
  .quest2 .level .med {
    padding-top: 4px;
    padding-right: 85px;
    font-size: 15px;
    color: rgb(255, 196, 0);
  }
  .quest2 .level .easy {
    padding-top: 4px;
    padding-right: 85px;
    font-size: 15px;
  }
  .quest2 .name .tpc {
    padding-top: 4px;
    font-size: 20px;
  }
}
@media (max-width: 775px) {
  .quest1 ul {
    top: 8.5%;
  }
  .quest2 .status .item {
    padding-top: 4px;
    padding-right: 30px;
    margin-left: 40px;
    font-size: 15px;
    color: rgb(194, 194, 194);
  }
  .quest2 .mark .m {
    padding-top: 4px;
    padding-right: 6px;
    font-size: 17px;
    color: rgb(202, 202, 202);
  }
  .quest2 .level .hard {
    padding-top: 4px;
    padding-right: 50px;
    font-size: 15px;
    color: red;
  }
  .quest2 .level .med {
    padding-top: 4px;
    padding-right: 50px;
    font-size: 15px;
    color: rgb(255, 196, 0);
  }
  .quest2 .level .easy {
    padding-top: 4px;
    padding-right: 50px;
    font-size: 15px;
  }
  .quest2 .name .tpc {
    padding-right: 30px;
  }
}
@media (max-width: 635px) {
  header .logo {
    top: 1.6rem;
    left: 3rem;
    padding-right: 5px;
    max-width: 120%;
  }
  header .logoText {
    margin-left: 0px;
  }
  .toggle {
    right: -50px;
  }
  .searchBar1 input {
    height: 2.2rem;
  }
  .searchBar1 input[placeholder] {
    font-size: 12px;
    padding-bottom: 13px;
  }
  .searchBar2 input {
    height: 2.2rem;
  }
  .searchBar2 input[placeholder] {
    font-size: 12px;
    padding-bottom: 13px;
  }
  .quest1 ul {
    top: 6%;
  }
  .quest2 ul {
    top: 11%;
  }
  .quest2 ul li {
    font-size: 10px;
  }
  .quest2 .status .item {
    padding-top: 4px;
    padding-right: 20px;
    margin-left: 30px;
    font-size: 15px;
    color: rgb(194, 194, 194);
  }
  .quest2 .mark .m {
    padding-top: 4px;
    padding-right: 6px;
    font-size: 17px;
    color: rgb(202, 202, 202);
  }
  .quest2 .level .hard {
    padding-top: 4px;
    padding-right: 20px;
    font-size: 15px;
    color: red;
  }
  .quest2 .level .med {
    padding-top: 4px;
    padding-right: 20px;
    font-size: 15px;
    color: rgb(255, 196, 0);
  }
  .quest2 .level .easy {
    padding-top: 4px;
    padding-right: 20px;
    font-size: 15px;
  }
  .quest2 .name .tpc {
    padding-right: 15px;
  }
}
@media (max-width: 535px) {
  .searchBar1 {
    left: 6.5%;
  }
  .searchBar1 input {
    max-width: 160px;
  }
  .searchBar2 {
    right: 6.5%;
  }
  .searchBar2 input {
    max-width: 160px;
  }
  .quest1 ul {
    left: 6%;
    width: 88%;
  }
  .quest1 ul li {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px;
  }

  .quest2 ul {
    top: 12%;
    left: 6%;
    width: 88%;
  }
}

@media (max-width: 435px) {
  header .logo {
    height: 3rem;
    width: 3rem;
    top: 1.6rem;
    left: 2.3rem;
    padding-right: 5px;
    max-width: 120%;
  }
  header .logoText {
    margin-left: -15px;
    font-size: 14px;
  }

  .searchBar1 input {
    max-width: 130px;
  }
  .searchBar2 input {
    max-width: 130px;
  }
  .searchBar1 input[placeholder] {
    font-size: 10px;
    padding-bottom: 13px;
  }
  .searchBar2 input[placeholder] {
    font-size: 10px;
    padding-bottom: 13px;
  }
  .quest2 .status .item {
    margin-left: 25px;
  }
  .quest1 ul li {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 11px;
  }
  .quest2 ul li {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  .quest1 ul {
    top: 5.2%;
  }
  .quest1 ul li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 11px;
  }
  .quest2 ul {
    top: 11%;
  }
  .quest2 ul li {
    font-size: 6px;
  }
  .quest2 .status .item {
    padding-right: 10px;
    margin-left: 30px;
    font-size: 13px;
  }
  .quest2 .mark .m {
    padding-right: 10px;
    font-size: 15px;
  }
  .quest2 .level .hard {
    padding-right: 10px;
    font-size: 12px;
  }
  .quest2 .level .med {
    padding-right: 10px;
    font-size: 12px;
  }
  .quest2 .level .easy {
    padding-right: 10px;
    font-size: 12px;
  }
  .quest2 .name .tpc {
    padding-right: 12px;
  }
}
@media (max-width: 340px) {
  header .logo {
    height: 2.4rem;
    width: 2.4rem;
    top: 1.4rem;
  }
  header .logoText {
    top: 43%;
    margin-left: -25px;
    font-size: 11px;
  }
  .quest2 .status .item {
    margin-left: 7px;
  }

  .toggle {
    top: 0%;
    right: -50px;
  }
  .quest1 ul {
    top: 4%;
  }
  .quest1 ul li {
    font-size: 8px;
  }
}
@media (max-width: 281px) {
  .toggle {
    top: 0%;
    right: -80px;
  }
  .searchBar1 input {
    max-width: 100px;
  }
  .searchBar2 input {
    max-width: 100px;
  }
  .searchBar1 input[placeholder] {
    font-size: 8px;
    padding-bottom: 14px;
  }
  .searchBar2 input[placeholder] {
    font-size: 8px;
    padding-bottom: 14px;
  }
  .quest2 .status .item {
    padding-right: 8px;
    font-size: 8px;
  }
  .quest2 .mark .m {
    padding-right: 8px;
    font-size: 8px;
  }
  .quest2 .level .hard {
    padding-right: 5px;
    font-size: 8px;
  }
  .quest2 .level .med {
    padding-right: 5px;
    font-size: 8px;
  }
  .quest2 .level .easy {
    padding-right: 5px;
    font-size: 8px;
  }
  .quest2 .name .tpc {
    padding-right: 8px;
    font-size: 8px;
  }
}
